.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';
  flex-direction: column;
   width: 100%;
   height: 100vh;
  background-color: #e8e9eb;

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}
